<div class="page-header">
	<h2>History Orders</h2>
</div>
<div style="margin-top: 30px;"></div>
<div ng-repeat = "order in ordersHistory | orderBy:'-created_at'">
	<div class= "row">
		<div class="col-md-10 col-md-offset-1">
			<div class= "row">
				<div class="col-md-8 col-md-offset-4">	
					<div style="text-align: right;">Added by:{{order.user.name}}</div>
				</div>
				<div style="margin-top: 25px;"></div>
				<div class="panel panel-default">
					<div class="panel-heading" >
						<h3 class="panel-title">
							<div class="row">
								<div class="col-md-6" ng-click = "showItem = ! showItem">
									<span class="order">Restaurant: <b>{{order.restaurantName}}</b></span>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-12">
											<div style = "text-align: right;">
												status:<b>{{order.order_status.status}}</b>
												<span style="margin-left: 5px;">
													<span class="glyphicon glyphicon-collapse-down"
																	ng-click = "showItem = ! showItem" ng-hide="showItem"></span>
													<span class="glyphicon glyphicon-collapse-up"
																	ng-click = "showItem = ! showItem" ng-show="showItem"></span>
												</span>
												<span class="glyphicon glyphicon-cog" ng-show="auth" ng-click="showStatus = ! showStatus"></span>
												<div ng-show="showStatus">
													<select name="singleSelect" ng-model="data.singleSelect" ng-click = "statuss(order)">
      													<option value="1" >In Progress</option>
      													<option value="2" >Ordered</option>
      													<option value="3" >Delivered</option>
      													<option value="4" >Finalized</option>
    												</select><br>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div id="total-sum" name="$index">
												Total Price:<b>{{order.totalPrice | number:2}} zł</b>
											</div>
										</div>
									</div>
								</div>
							</div>
						</h3>
					</div>
					<div class="panel-body" ng-show="showItem">
						<div style="margin-bottom: 10px;"></div>
						<div id="order_{{$index}}"ng-repeat="meal in order.meals">
							<ul class="list-group">
    							<li class="list-group-item">
    								<div class="row">
   										<div class="col-md-4">
    										<span style="text-align: left;">Meal:<b>{{meal.name}}</b></span>
    									</div>
   										<div class="col-md-4">
    										<span style="text-align: center;">Price:<b>{{meal.price}} zł</b></span>
    									</div>
										<div class="col-md-4">
      										<span style="text-align: center;"><b>{{meal.user.name}}</b></span>
										</div>
									</div>
   								</li>
  							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
